<!-- Модальное окно -->
<div class="modal fade" id="loginResponseModal" tabindex="-1" aria-labelledby="loginResponseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content wrap-modal">
            <span class="modal-emoji">
                ...
            </span>
            <span class="modal-text">
            ...
            </span>
            <div class="container-login100-form-btn">
                <button type="button" class="btn btn-secondary form-btn" data-bs-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>