{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <div class="login100-form validate-form">
                    <div class="wrap-login100-form-title">
                        <span class="login100-form-title">
						    Вход в личный кабинет
					    </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Обязательное поле">
                        <input class="input100" type="text" name="login" placeholder="Логин">
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Обязательное поле">
                        <input class="input100" type="password" name="password" placeholder="Пароль">
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="form-btn login100-form-btn">
                            Войти
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "modal.html" %}
    <script src="{% static 'mospolytech/js/main.js' %}"></script>
{% endblock %}
